/* Wrapper */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Component */
  .component {
    border: 1px solid #333;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    background-color: #222;
    color: #fff;
  }
  
  /* Card field */
  .card-field {
    margin-bottom: 20px;
  }
  
  /* Title */
  .title label {
    font-weight: bold;
    font-size: 2em;
  }
  
  /* Details */
  .details label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Price field */
  .price-field {
    margin-top: 20px;
  }
  
  /* Price */
  .price {
    font-size: 24px;
    font-weight: bold;
    color: #ffcc00;
  }
  
  /* Button wrapper */
  .button-wrapper {
    margin-top: 20px;
    
  }
  
  /* Offer button */
  .offer-button {
    background-color: #ffcc00;
    color: #222;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
  }
  
  .offer-button:hover {
    background-color: #ffa500;
  }
  
  /* Loading field */
  .loading-field {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading {
    font-weight: bold;
    color: #ffcc00;
    font-size: 18px;
  }
  